
.startPage{
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:500px;
    height:350px;
    background-color: green;
    border: 5px solid black;
}

.formElement {
    text-align: center;
}

h1, h4, button {
    text-align: center; 
}

.wrongData{
    font-size: 75%;
    font-weight: bold;
}




